@page
@model ConfirmedNumberCodeEmailModel
@{
    var statusmessage = TempData["StatusMessage"] as string;
}

<div class="container mt-5 d-flex justify-content-center">
    <section>
        <form method="post">
            <div class="mt-2">
                <partial name="_AlertMessage" model="@statusmessage" />
            </div>
            <h5 class="text-primary"><i class="fa-solid fa-atom"></i> Xác thực hai yếu tố</h5>
            <hr class="text-primary" />
            <div class="mb-3">
                <label asp-for="Input.Code"></label>
                <input asp-for="Input.Code" class="form-control" />
                <span asp-validation-for="Input.Code" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Xác nhận</button>
            </div>
            <hr class="text-primary" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                Nhấn vào <a asp-area="Identity" asp-page="/Account/ConfirmedNumberCodeEmail" asp-page-handler="SendMail" class="link-primary">đây</a> để nhận mã code được gửi qua mail.
            </div>
        </form>
    </section>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}