@page
@model ForgotPasswordModel
@{
    var statusMessage = TempData["StatusMessage"] as string;
}

<div class="container mt-5 d-flex justify-content-center">
    <section>
        <partial name="_AlertMessage" model="@statusMessage"/>
        <form method="post">
            <h5 class="text-primary"><i class="fa-solid fa-unlock-keyhole"></i> Quên mật khẩu</h5>
            <hr class="text-primary" />
            <div class="mb-3">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
           
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Gửi</button>
            </div>
            <hr class="text-primary" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <p>
                    <a asp-area="Identity" asp-page="/Account/Register">Đăng kí.</a>
                </p>
            </div>
        </form>
    </section>

</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}