@page
@model LockoutModel
@{
    ViewData["Title"] = "Tạm khóa";
}

<div class="container mt-5 d-flex justify-content-center">
    <h1 class="text-danger">Tài khoản đả bị khóa vui lòng thử lại sau.</h1>
    
</div>