@page
@model ChangePasswordModel
@{
    ViewData["ActiveManager"] = "ChangePassword";
    var statusmessage = TempData["StatusMessage"] as string;
}

<div class="container mt-5 d-flex justify-content-center">
    <section>
        <partial name="_AlertMessage" model="@statusmessage" />
        <div class="card">
            <h5 class="card-header text-secondary"><i class="fa-solid fa-lock"></i> Đổi mật khẩu</h5>
            <div class="card-body">
                <form id="change-password-form" method="post">
                    <div class="mb-3">
                        <label class="form-label" asp-for="Input.OldPassword"></label>
                        <input asp-for="Input.OldPassword" class="form-control" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Input.NewPassword"></label>
                        <input asp-for="Input.NewPassword" class="form-control" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="mb-3">
                        <p><a href="#" class="link-primary">Quên mật khẩu.</a></p>
                    </div>
                </form>
            </div>
        </div> 
    </section>

</div>
