@page
@model EditRoleClaimModel
@{
    var statusMessage = TempData["StatusMessage"];
    ViewData["Title"] = "Cập nhật claim";
}

<div class="container d-md-flex justify-content-center">
    <div class="mt-5">
        <div class="alert alert-link p-0">
            <a asp-page="./index" asp-area="Identity">Vai trò</a> /
            <a asp-route-id="@Model.role.Id" asp-page="./Edit" asp-area="Identity">Cập nhật vai trò</a> /
            <a>@ViewData["Title"]</a>
        </div>
        <div class="card">
            <h5 class="card-header text-primary">
                @ViewData["title"]
            </h5>
            <form method="post">
                <div class="card-body">
                    <div class="mb-2">
                        <label asp-for="Input.Name"></label>
                        <input asp-for="Input.Name" class="form-control" />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="Input.Value"></label>
                        <input asp-for="Input.Value" class="form-control" />
                        <span asp-validation-for="Input.Value" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                    <hr class="text-primary" />
                    <div class="mb-2">
                        <p>
                            <a class="link-primary" asp-route-id="@Model.role.Id" asp-area="Identity" asp-page="./Edit" a>Quay về.</a>
                        </p>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}